<head>
  <%= stylesheet_link_tag "normalize", "bootstrap","font-awesome","application", "animate", "owl.carousel"%>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "jquery", "fastclick", "owl.carousel.min", "all" %>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">

  <meta name="google-site-verification" content="I0g0VyuxspXWgGp7-N54viOfk2CZuUjyujS9z2yidQ4" />
  <meta name="description" content="<%= current_page.data.description || 'Sistema de Gestão de Academias online.' %>">
  <meta name="author" content="Lab85">
  <meta name="keywords" content="Academias, administração, aplicativo, controle, gerenciamento, sistema, software, gestão, administração academia, aplicativo academia, controle academia, sistema controle academia, gerenciamento academia, sistema academia, sistema academias, sistema de controle de academia, sistema academia online, programa academia, programa treino academia, software academia, gestão academia, academia, acadenia, fitness, personal trainer, personal trainer, software para academia, controle de acesso, avaliação física, sistema para personal trainer, musculação, sistema academia, sistema para academia, academia online, software para academia, software para academia, administração de academias, programa gerenciamento academia, gerenciamento de academias, gestão de academias, gestao academia, sistema para academias, controle de academias, programa para academia de musculação, gerenciamento de academia, programa para academia, controle de academia gratuito, treinamentos, avaliação física, controle financeiro, academia, 15 dias grátis, gratis, grátis, free">
  <meta content="1 day" name="revisit-after">
  <meta content="all" name="Robots">
  <meta content="General" name="rating">
  <meta content="pt-br" name="language">
  <link rel="canonical" href="http://sistemaacademias.com.br/">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <link rel="icon" type="image/png" href="/images/favicon.png">

  <!--OPEN GRAPH META TAGS-->
  <meta property="og:title" content="Academias - Sistema de Gestão de Academias"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="sistemaacademias.com.br"/>
  <meta property="og:description" content="<%= current_page.data.description || 'Sistema de Gestão de Academias online.' %>"/>

  <!--twitter cards-->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="sistemaacademias.com.br">
  <meta name="twitter:title" content="Academias - Sistema de Gestão de Academias">
  <meta name="twitter:description" content="<%= current_page.data.description || 'Sistema de Gestão de Academias online.' %>">

  <title><%= current_page.data.title %> :: Sistema Academias</title>

</head>
